@inherits System.Web.Mvc.WebViewPage

@{
    View.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@View.Message</h2>
<p>
     Welcome to BatBreaker.com..
</p>
<p>
    This of BatBreaker as a poor man's MLB 10: Road to the Show mode, but for the web.  We are not affiliated with any MLB games the MLB itself, I'm just a big fan of baseball (The Tampa Bay Rays, specifically).  I'm also a fan 
    of statistics and gamings (RPGs and sports games, mostly).  I've put this together to have a sort of baseball career simulator where your player will show up in other player's (real people, mind you) games, and you get skill points to spend for those games plus your own.  
    Think of this as the 'alpha' version, but know that I'm storing lots and lots of statistics about every game played, with plans to show you all your stats down the road.
</p>
<p>If you're a fan of baseball, or gaming, please create your player, start playing games, and tell your friends!</p>
<p>If you notice anything broken, or have any ideas for improvements, please email me at <a href="mailto: bderome@almostrecords.com">bderome@almostrecords.com</a> and let me know!</p>
