@model IEnumerable<BatBreaker2.Models.Team>

@{
    ViewBag.Title = "GetAllTeams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>All Teams</h2>

    <table>
        <tr>
            <th>
                Team
            </th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>

    @foreach (var item in Model) {
    
        <tr>
            <td>
                <a href="/Stats/TeamGames/@item.Id" target="_blank">@item.City @item.Title</a>
            </td>
            <td>@(item.HomeGames.Where(g => g.homeTeamId.Equals(item.Id) && g.ScoreHome > g.ScoreAway).Count() + item.AwayGames.Where(g => g.awayTeamId.Equals(item.Id) && g.ScoreHome < g.ScoreAway).Count())</td>
            <td>@(item.HomeGames.Where(g => g.homeTeamId.Equals(item.Id) && g.ScoreHome < g.ScoreAway).Count() + item.AwayGames.Where(g => g.awayTeamId.Equals(item.Id) && g.ScoreHome > g.ScoreAway).Count())</td>
            
        </tr>
    
    }

    </table>


